/* anim for body */
div[data-role=content] .ui-btn-corner-all,
div[data-role=content] .ui-corner-all  {
	-webkit-border-radius: 				0 /*{global-radii-buttons}*/;
	border-radius: 						0 /*{global-radii-buttons}*/;
}
@keyframes body_anim 
{
from {opacity:0;}
to {opacity:1;}
}

@-moz-keyframes body_anim /* Firefox */
{
from {opacity:0;}
to {opacity:1;}
}

@-webkit-keyframes body_anim /* Safari and Chrome */
{
from {opacity:0;}
to {opacity:1;}
}
/* end of anim for body */

body{
     animation: body_anim 0.8s;
    -moz-animation: body_anim 0.8s; /* Firefox */
    -webkit-animation: body_anim 0.8s; /* Safari and Chrome */
}

div[data-role=header], #slider, #active{
	text-shadow:none;
	font-weight: normal;
}
div[data-role=header]{
	height:31px;
	margin-bottom:180px;
}
#top_header{
	height:32px;
	background:#333; 
	background:-moz-linear-gradient(top, #333 0%, #2b2b2b 100%); 
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, #333),color-stop(100%, #2b2b2b)); 
	background:-webkit-linear-gradient(top, #333 0%, #2b2b2b 100%); 
	background:-o-linear-gradient(top, #333 0%, #2b2b2b 100%); background:-ms-linear-gradient(top, #333 0%, #2b2b2b 100%); 
	background:linear-gradient(top, #333 0%, #2b2b2b 100%); 
	border-bottom:1px solid #0e0e0e; 
	white-space:nowrap;
	padding: 0 20px;
}
#top_header #left, #top_header #right{
    padding-top:5px;
}
#top_header #left{
    float:left;
}
#top_header #right{
    float:right;
}
user{
    opacity:0.5;
}
/* ----------------- end of top header --------------------*/
#middle_header{
	min-height:200px;
	padding: 10px 0;
    background: #2f7b01 ;
    background: -moz-linear-gradient(top, #40a503  0%, #2f7b01 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #40a503  ),color-stop(100%, #2f7b01));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #40a503  0%, #2f7b01 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #40a503  0%, #2f7b01 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #40a503  0%, #2f7b01 100%);
 /* IE10+ */
    background: linear-gradient(to bottom, #40a503  0%, #2f7b01 100%); 
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50d102',endColorstr='#2f7b01',GradientType=0 );
 /* IE6-8 */
    border-top: 1px solid #60c523;
    border-bottom: 1px solid #2f7b01;
}
#middle_header_container{
	margin-left:60px;
	width:40%;
	height:100%;
	display:block;
}
#middle_header_container a{
    text-decoration:none;
}
div#logo{
	float:right;
	height:240px;
	width:477px;
	margin-top:-30px;
	margin-right:-97px;
	background:url('/silabitama/public/images/lebah madu.png');
	-moz-background-size:140%; /* Firefox 3.6 */
	background-size:80%;
	background-repeat:no-repeat;
}
#middle_header_container div#text{
	float:left;
	padding-top:6px;
	margin-left:0px;
	height:120px;
	width:470px;
	font-size:12pt;
	font-weight: normal;
	color:#fff;
	text-shadow:2px 2px 5px #0a6001;
	opacity:0.9;
}
/*--------------------- end of midle header -----------------------*/

/* anim for active */
@keyframes moveactivepagetitle
{
from {padding-left:300px; opacity:0; color:#670E0D;}
to {padding-left:30px; opacity:1; color:#fff;}
}

@-moz-keyframes moveactivepagetitle /* Firefox */
{
from {padding-left:300px; opacity:0; color:#670E0D}
to {padding-left:30px; opacity:1; color:#fff;}
}

@-webkit-keyframes moveactivepagetitle /* Safari and Chrome */
{
from {padding-left:300px; opacity:0; color:#670E0D;}
to {padding-left:30px; opacity:1; color:#fff;}
}
/* end of anim for active */

#active{
	min-height:30px;
	background: #2f7b01;
    background: -moz-linear-gradient(top, #3d9c03 0%, #2f7b01 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d9c03 ), color-stop(100%,#2f7b01 ));
    background: -webkit-linear-gradient(top, #3d9c03 0%,#2f7b01 100%);
    background: -o-linear-gradient(top, #3d9c03 0%,#2f7b01 100%);
    background: -ms-linear-gradient(top, #3d9c03 0%,#2f7b01 100%);
    background: linear-gradient(to bottom, #3d9c03 0%,#2f7b01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50d102', endColorstr='#40a503',GradientType=0 );
    border-top: 1px solid #48be01;
    border-bottom: 1px solid #2f7b01;
    white-space: nowrap;
    padding: 10px 30px 0;
    animation: moveactivepagetitle 0.4s;
    -moz-animation: moveactivepagetitle 0.4s; /* Firefox */
    -webkit-animation: moveactivepagetitle 0.4s; /* Safari and Chrome */
}
/*--------------------------- content -----------------------------*/
div[data-role=content]{
    margin-top:233px;
}
#slider{
    margin-bottom:15px;
}

#slider img#lebah1{
    margin-top:-70px;
}

#loginPop{
    padding:0 20px 20px;
    width:300px;
    text-shadow:3px 2px 5px #000;
}
#loginPop li{
    margin-left:-40px;
}
div#main_content{
    width:100%;
    display:block;
    min-height:250px;
}

div#main_content form ul li{
    list-style:none;
	margin-bottom:20px;
}
div#main_content label, div#main_content form ul li label{
    display:block;
    width:170px;
	float:left;
	color:#888;
}
div#main_content label#abc{
    width:auto;
}
/* --- jadwal seminar --- */
div#main_content div#jdwl_title, 
div#main_content div#jdwl_det, 
div#main_content div.waktu {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    
    /* Safari, Chrome, and Opera */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
div#main_content div#jdwl_header, div#main_content div#jdwl_item{
   
   margin-bottom:5px;
   width:95%;
   height:70px;
   text-shadow:none;
}
div#seminar div#jdwl_item{
   height:90px;
}
div#pendadaran div#jdwl_item{
   height:130px;
}
div#main_content div.title{
    width:30%;
    height:100%;
    float:left;
    display:block;
    border-left:1px solid #bbb;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
    text-align:center;
}
div#main_content div.det{
    width:65%;
    height:100%;
    padding-left:10px;
    float:left;
    border-right:1px solid #bbb;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
}
div#main_content div.prodi{
    width:10%;
    height:100%;
    float:left;
}
div#seminar div#jdwl_title{
    background:#31004e;
    color:#eee;
    font-weight:bold;
}
div#seminar div#jdwl_det{
    background:#672290;
    color:#eee;
    font-weight:bold;
}
div#pendadaran div#jdwl_title{
    background:#555a00;
    color:#eee;
    font-weight:bold;
}
div#pendadaran div#jdwl_det{
    background:#788000;
    color:#eee;
    font-weight:bold;
}
div#Sudahdilaksanakan{
    background:#006f05;
    color:#eee;
}
div#Sudahterjadwal{
    background:#aea400;
    color:#eee;
}
div#Belumterjadwal{
    background:#4d0000;
    color:#eee;
}
div#Mengulang{
    background:#535353;
}
div#seminar div#item_det{
    background:#e5bdff;
}
div#seminar div#item_det:hover{
    background:#e9d3f6;
}
div#pendadaran div#item_det{
    background:#dce09e;
}
div#pendadaran div#item_det:hover{
    background:#d6ffbd;
}
div#main_content div#MI{
    background:#909;
}
div#main_content div#TI{
    background:#678;
}
div#main_content div.waktu{
    width:90%;
    height:100%;
    float:right;
}
/* --- end of jadwal seminar --- */
/* penilaian */

div#main_content ol li ul li div{
    width:73%;
    margin-left:-4px;
}
div#main_content ol li div{
    width:70.7%;
    margin-left:30px;
}
div#main_content ol li ul li label{
    width:200px;
}
div#main_content ol li{
    color:#888;
}
div#main_content ol li ul li {
    margin-left:-10px;
}
/* end of penilaian */
/* --- iframe progres -- */
iframe#frame_progres{
    width:100%; 
    height:520px; 
    padding:0; 
    margin:0; 
    overflow:hidden;
    border:none;
}
/* --- end of iframe progres -- */
p#abc{
    clear:both;
}
div#main_content form ul li div.ui-select, div#main_content form ul li div.ui-input-text{
    clear:both;
}
div#main_content{
    float:right;
}
div.paging{
    margin-top:9px;
}
div.paging a{
    border: 1px solid rgba(0,0,255,0.1);
    text-decoration:none;
    background:rgba(0,0,255,0.1);
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow:0 0 1px #ccc;
}
div.paging a:hover{
    background:rgba(0,255,0,0.1);
}
div.data table{
    min-width:80%;
	max-width:100%;
	box-shadow:0 0 5px #888;;
}
div.data table th{
    background: #440276;
    height:60px;
    color: rgba(255,255,255,0.9);
    font-size:16px;
    text-shadow:none;
}
div.data table td:first-child{
    text-align:center;
}
div.data table td{
    height:40px;
    min-width:40px;
    padding:0 20px;
}
div.data table td{
    border-top:1px solid rgba(144,0,255,0.1);
}
div.data table tr{
    background: rgba(144,0,255,0.03);
} 
div.data table tr.alt {
    background: rgba(144,0,255,0.1);
}
div.data table tr:hover{
    background: rgba(144,0,255,0.2);
}
/* profil */
div.data table.profil td:first-child{
    text-align:right;
    width:220px;
    background: rgba(144,0,255,0.3);
    color:#000;
    text-shadow: 1px 1px 4px #fff;
    border-right: 1px solid rgba(144,0,255,0.5);
    font-weight:bold;
}

div.data table.profil td.p1_mhs_bimbb {
    vertical-align:text-top;
    padding-top:10px;
}
/* end of profil */

/*dist pembb form*/

div#dsn_opt{
    display:block;
    text-align:center;
    width:100%;
}
div#dsn_opt div{
    float:left;
}
table#list_mhs, 
table#mhs_choosen{
    box-shadow:0 0 2px #bbb;
    width:100%;
}
table#list_mhs, div.container,
table#mhs_choosen, div.container2{
    display:block;
    float:left;
    min-height:400px;
    background: rgba(0,255,0,0.2);
}
table#list_mhs, div.container{
	clear:left;
	margin-right:20px;
}
div.container, div.container2{
    overflow:auto;
    width:35%;
    height:400px;
    box-shadow:0 0 5px #888;
}
div.container2{
	margin-left:20px;
}

table#list_mhs tr.alt, 
table#mhs_choosen tr.alt
{
    background:rgba(0,255,0,0.2);
}
table#list_mhs tbody tr, 
table#mhs_choosen tbody tr
{
    height:40px;
}
table#list_mhs tr:hover, 
table#mhs_choosen tr:hover
{
    background:rgba(0,255,0,0.7);
    color:black;
    text-shadow:none;
}
table#list_mhs td:first-child, 
table#mhs_choosen td:first-child
{
    min-width:25px;
}

table#list_mhs td:nth-child(3), 
table#mhs_choosen td:nth-child(3){
    width:70%;
}

table#list_mhs div.ui-checkbox input, 
table#mhs_choosen div.ui-checkbox input
{
    margin-left:-10px;  
}
div#button_set{
    display:block;
    float:left;    width:10%;
    height:200px;
}
div#button{
    clear:both;
}
/*end of dist pembb form*/

/*dist pembb*/
div.data td{
	text-shadow: 1px 1px 5px #ddd;
}
div.data td a.ui-link, 
div.data td a.ui-link:visited,
div.data td a.ui-link:hover{
    text-decoration:none;
    color:#000;
    font-weight:normal;
}
div.data td a.ui-link:hover{
	text-shadow: 1px 1px 5px #888;
}
/*end of dist pembb*/
div#right_side{
    width:25%;
    height:500px;

}
div#right_side div#title{
   position:relative;
	width:100%;
    height: 100px;
    background:rgba(0,0,0,0.4);
    z-index:2;
    
    top:20px;
    color:#ff0;
    font-size:16pt;
    text-shadow:none;
  
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    
    /* Safari, Chrome, and Opera */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
div#tahap_image{
    position:relative;
    left:0px;
    top:-100px;
}
img#tahapan{
    box-shadow:0 0 5px #888;    
}
img.sipbta{
    
}
img.proposal{
    
}
img.pembimbingan{
    
}
img.seminar{
    
}
img.pendadaran{
    
}
/*------------------------ end of content -------------------------*/


/*--------------------------- panel -----------------------------*/
/* anim for div[data-role=panel] li */
@keyframes moveleft
{
from {padding-left:5px;}
to {padding-left:0;}
}

@-moz-keyframes moveleft /* Firefox */
{
from {padding-left:5px;}
to {padding-left:0;}
}

@-webkit-keyframes moveleft /* Safari and Chrome */
{
from {padding-left:5px;}
to {padding-left:0;}
}
/* end of anim for div[data-role=panel] li:hover */

div[data-role=panel] li{
    margin-left:-15px;
    padding:5px 0;
    list-style:none;
    font-size: 10pt;
    text-shadow: 2px 2px 3px #000;
    animation: moveleft 0.2s;
    -moz-animation: moveleft 0.2s; /* Firefox */
    -webkit-animation: moveleft 0.2s; /* Safari and Chrome */
}
div[data-role=panel] .ui-body-a .ui-link:visited, div[data-role=panel] .ui-body-a .ui-link{
    color:white;
    text-decoration:none;
}
/* anim for div[data-role=panel] li:hover */
@keyframes moveright
{
from {padding-left:0;}
to {padding-left:5px;}
}

@-moz-keyframes moveright/* Firefox */
{
from {padding-left:0;}
to {padding-left:5px;}
}

@-webkit-keyframes moveright/* Safari and Chrome */
{
from {padding-left:0;}
to {padding-left:10px;}
}
/* end of anim for div[data-role=panel] li:hover*/

div[data-role=panel] li:hover{
    background:rgba(0,0,0,0.7);
    animation: moveright 0.2s;
    -moz-animation: moveright 0.2s; /* Firefox */
    -webkit-animation: moveright 0.2s; /* Safari and Chrome */
    padding-left:10px;
}

div#nav-panel{
    background:url('/silabitama/public/images/Summer-Scenery-1366x768.jpg');
}

div.ui-collapsible-content{
    background-color:rgba(0,0,0,0.4);
}
/*----------------------- end of panel----------------------------*/

/*-------------------- footer ---------------------*/
div[data-role=footer]{
    font-weight:normal;
    background:#403f3f;
}
#footer1 .ui-body-a{
    margin-top:20px;
    height:300px;
    border-left:1px solid #9e2121;
    border-right:1px solid #4a0404;
    border-top:none;
    border-bottom:none;
    background:none
}
#footer1{
    width:100%;
    height:350px;
    background:#651110;
    background:-moz-linear-gradient(top, #7d0101 0%, #651110 100%); 
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, #7d0101),color-stop(100%, #651110)); 
    background:-webkit-linear-gradient(top, #7d0101 0%, #651110 100%); background:-o-linear-gradient(top, #7d0101 0%, #651110 100%); 
    background:-ms-linear-gradient(top, #7d0101 0%, #651110 100%); background:linear-gradient(top, #7d0101 0%, #651110 100%);     
    border-top: 1px solid #9e2121;
    border-bottom: 1px solid #4a0404;
}
div.center{
    margin-top:4%;
    margin-left:18%;
    opacity:0.2;
}
#footer1 ul#f1_left, #footer1 ul#f1_right{
	margin-top:80px;
}
#footer1 ul#f1_left li a.ui-link, #footer1 ul#f1_right li a.ui-link{
	text-decoration:none;
	color:white;
	font-weight:normal;
}
#footer1 ul#f1_left li, #footer1 ul#f1_right li {
    list-style:none;
    margin-bottom:5px;
    opacity:0.4;
}
#footer1 ul#f1_left li:hover, #footer1 ul#f1_right li:hover {
    list-style:none;
    opacity:0.7;
}
#footer1 ul#f1_left li{
 text-align:right;  
 margin-right:20px;
}
#footer1 ul#f1_right li{
 text-align:left;   
 margin-left:-20px;
}
#footer2{
    height:42px;
	background:#1e0606; 
	background:-moz-linear-gradient(top, #450a0a 0%, #1e0606 100%); 
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, #450a0a),color-stop(100%, #1e0606)); 
	background:-webkit-linear-gradient(top, #450a0a 0%, #1e0606 100%); 
	background:-o-linear-gradient(top, #450a0a 0%, #1e0606 100%); background:-ms-linear-gradient(top, #450a0a 0%, #1e0606 100%); 
	background:linear-gradient(top, #450a0a 0%, #1e0606 100%); 
	border-top: 1px solid #791919;
	white-space:nowrap;
	padding: 10px 20px 0;
	text-align:right;
    font-size:10pt;
    text-shadow: 2px 2px 1px #000;
    color:rgba(144,144,144,1);
}
/*---------------- end of footer ------------------*/

/*---------------- top menu -----------------------*/
#right a user {
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 20px #fff;
}
#right a {
    color: #bbb;
}
/*---------------- end of top menu -----------------------*/