body{
    position: relative;
    left:-8px;
    width:100%;
    font-family: arial;
    color:#fff;
    background:url('http://localhost/silabitama/public/slider/images/bg.png');
}
#welcome img{
    position: absolute;
    right:-35px;
    top: -4px;
    opacity:0.1;
}
#welcome img:hover{
    opacity:0.3;
}
#welcome a{
	text-decoration: none;
	color: #916C04;
}
#welcome{
	text-align:right;
	position:absolute;
	top:5px;
	right:40px;
	width:30%;
	margin: 0;
	padding-right: 10px;
	z-index:2001;
}
#header{
    position:relative;
    top:-10px;
    margin-bottom:0;
}
#site_title{
	position:absolute;
	top:-10px;
	left:50px;
	z-index:3000;
	height:120px;
	width:400px;
	padding-left:20px;
	border-radius: 0 0 10px 10px;
	background:#efc34a;
	color:#444;
}
#site_title h2{
	color:#916C04;
	text-shadow:1px 1px 1px #916C04;
}
#head{
	border-top:10px solid #efc34a;
    border-bottom:10px solid #efc34a;
    background: transparent url('http://localhost/silabitama/public/slider/images/waves.gif') repeat 0% 0%;
    height:200px;
}

.main_menu, .main_menu ul
{
	color: #000;
	list-style:none;
}

.main_menu ul li a
{
	text-decoration:none;
	color:#000;
}

#content{
	margin-left:auto;
	margin-right:auto;
	margin-top:-10px;
	margin-bottom:0;
	width:100%;
	color:#000;
}
#main_content{
	float:right;
	width:65%;
	padding-top:20px;
	padding-left:10px;
}
#panel{
	float:left;
	background: rgba(153,50,204,0.4);
	padding-top:20px;
	padding-right:40px;
	text-align:right;
	width: 30%;
	height:800px;
}

/* form */
form{
	width:490px;
    margin-left:auto;
	margin-right:auto;
	}
form h3{
    background:#444;
    height:45px;
    padding:25px 0 0 30px;
    margin:0;
}
form label{
    display:block;
    width:150px;
	float:left;
	color:#888;
	font-size: 16px;
}
form fieldset.field {
  border: none;
}
form fieldset.button {
  border: none;
  text-align: right;
}
form ul.fields {
	width:400px;
	list-style: none;
}

fieldset.field{
    background:rgba(255,255,255,0.4);
    margin:0;
    padding-left:0;
    color:#000;
}
fieldset.field li{
	margin-bottom:20px;
}
det#details{
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    padding-left:10px;
   
}
fieldset.field input[type="text"],fieldset.field select{
	height:40px;
	padding-left:10px;
}
fieldset.field input[type="text"],
fieldset.field input[type="password"],
fieldset.field input[type="date"],
fieldset.field input[type="time"],
fieldset.field textarea,
fieldset.field select{
	width:400px;
	border: 1px solid #444;
	border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    background: #fafafa;
}
fieldset.button{
    background:#444;
    margin:0;
}

form input[type="submit"], fieldset.button a {
 	background: #e3e3e3;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    float: right;
    margin: 15px 20px 10px 10px;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 2px #fff inset;
    -webkit-box-shadow: 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 2px #fff inset;
}

form input[type="submit"]:hover, fieldset.button a:hover {
    background: #d9d9d9;
    -moz-box-shadow: 0px 0px 2px #eaeaea inset;
    -webkit-box-shadow: 0px 0px 2px #eaeaea inset;
    box-shadow: 0px 0px 2px #eaeaea inset;
    color: #222;
}

fieldset.button a
{
	text-decoration:none;
	float:left;
	
}
/* end of form */

/* table */
#table{
    
}
#pagination{
    text-align:right;
}
/* end of table */

#footer{
	text-align:right;
    position:relative;
    font-size:8pt;
	clear:left;
	background:rgba(0,0,0,0.8);
	padding: 20px 0 10px 20px;
}