
<!-- used script  -->

<link rel="shortcut icon" href="../favicon.ico"> 

<noscript>
	<link rel="stylesheet" type="text/css" href="css/nojs.css" />
</noscript>

<!-- end of used script -->

    	
<div id="da-slider" class="da-slider">
	<div class="da-slide">
		<h2>SILABITAMA</h2>
		<p>SILABITAMA kependekan dari sistem informasi pengelolaan bimbingan tugas akhir mahasiswa, berfungsi untuk mengelola proses pembimbingan tugas akhir dari pengajuan judul hingga mendapatkan nilai.</p>
		<!--<a href="#" class="da-link">Baca</a> -->
		<div class="da-img"><img id="lebah1" src="<?php echo base_url();?>public/images/SIPBTA.png" alt="image01" width="60%"/></div>
	</div>
	<div class="da-slide">
		<h2>Pengajuan proposal</h2>
		<p>Tidak semua proposal akan langsung disetujui oleh program studi. Untuk itu dalam menentukan topik dan judul tugas akhir, mahasiswa dapat berkonsultasi dengan dosen pembimbing akademik.</p>
		<!--<a href="#" class="da-link">Baca</a> -->
		<div class="da-img"><img id="lebah1" src="<?php echo base_url();?>public/images/proposal.png" alt="image01" width="70%"/></div>
	</div>
	<div class="da-slide">
		<h2>Pembimbingan</h2>
		<p>Dosen pembimbing memiliki tugas utama untuk membimbing mahasiswa bimbingannya dengan cara memberikan arahan dan masukan selama mahasiswa mengerjakan tugas akhirnya.</p>
		<!--<a href="#" class="da-link">Baca</a> -->
		<div class="da-img"><img id="lebah2" src="<?php echo base_url();?>public/images/pembimbingan.png" alt="image01" width="90%"/></div>
	</div>
	<div class="da-slide">
		<h2>Seminar</h2>
		<p>Seminar tugas akhir dilaksanakan dengan persetujuan dosen pembimbing dan diikuti oleh sekurang-kurangnya 5 (lima) penonton dari kalangan mahasiswa, serta dihadiri oleh dosen pembimbing atau yang mewakili.</p>
		<!--<a href="#" class="da-link">Baca</a> -->
		<div class="da-img"><img id="lebah1" src="<?php echo base_url();?>public/images/seminar.png" alt="image01" width="70%"/></div>
	</div>
	<div class="da-slide">
		<h2>Pendadaran</h2>
		<p>Karya mandiri yang dibuat oleh setiap mahasiswa semester akhir di bawah bimbingan seorang dosen pembimbing dan disertai dengan pembuatan laporan akan diujikan dalam bentuk ujian pendadaran.</p>
		<!--<a href="#" class="da-link">Baca</a> -->
		<div class="da-img"><img id="lebah1" src="<?php echo base_url();?>public/images/pendadaran.png" alt="image01" width="70%"/></div>
	</div>
	<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
	</nav>
</div>	