div.cd-dropdown, div.cd-dropdown span, div.cd-dropdown input,div.cd-dropdown ul, div.cd-dropdown ul li, div.cd-dropdown ul li span,div.cd-dropdown:after, div.cd-dropdown span:after, div.cd-dropdown input:after,div.cd-dropdown ul:after, div.cd-dropdown ul li:after, div.cd-dropdown ul li span:after,div.cd-dropdown:before, div.cd-dropdown span:before, div.cd-dropdown input:before,div.cd-dropdown ul:before, div.cd-dropdown ul li:before, div.cd-dropdown ul li span:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

div.cd-dropdown span,div.cd-dropdown ul li span{
	padding-left:20px;
}

body {
	background: #f4f4f4 url(../images/grid_DominikKiss_SubtlePatterns.jpg);

}
